html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}


/* header */

header {
    display: flex;
    margin: 0;
    width: auto;
    height: 3.3em;
    background-color: #333;
}

.main-title {
    font-family: 'Indie Flower', cursive;
    flex: auto;
    margin: 0;
    padding: 8px 20px;
    font-size: 1.7em;
    color: #fff;
}

.logout-button {
    margin: 0;
    font-family: inherit;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    float: right;
    padding: 15px;
}


/* map */

.map {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 15em;
    top: 3.3em;
}

.infowindow-image {
    height: 200px;
    border-radius: 5px;
    margin: auto;
}

.infowindow-text {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 1.5em;
    margin: 5px 0;
}

.infowindow-continent {
    font-size: 1em;
    margin-top: 0;
}

.read-more-link {
    font-family: 'Lato', sans-serif;
    color: #2e7099;
    text-decoration: none;
}

.read-more-link:hover {
    color: #333;
}


/* destinations sidebar */

aside {
    position: absolute;
    background: #fff;
    top: 3.3em;
    bottom: 0;
    padding: 20px;
    padding-top: 0;
    width: 15em;
    box-sizing: border-box;
    overflow: scroll;
}

.user-select-container {
    display: block;
    width: 13em;
    margin-bottom: 20px;
    position: fixed;
    background-color: #fff;
}

.user-select-container>label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

.user-select-container>select {
    width: 95%;
    height: 30px;
    margin: 5px 0;
    margin-bottom: 20px;
    border: 1px solid #e6e6e6;
    background-color: #fafafa;
}

.destinations-list {
    list-style: none;
    padding: 0;
}

.destination-list-item {
    padding: 3px;
    margin: 10px 0;
    width: 95%;
    background-color: #f5faff;
    border-radius: 5px;
    border: 1px solid #efefef;
    cursor: pointer;
}

.destination-list-item:first-child {
    margin-top: 95px;
}

.destination-list-item-title {
    font-size: 1.3em;
    margin: 5px 0;
    padding: 3px 0;
}

.position-list-item {
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 10px;
}

.user-name {
    margin: 6px 0px;
}

.icon-container {
    border-bottom: 4px dotted #ccc;
    padding: 2px 0 4px 0;
    height: 25px;
}

.delete-icon {
    width: 10px;
    margin: 5px;
}

.edit-icon {
    width: 10px;
    margin: 4px;
    margin-top: 6px;
    float: right;
}

.delete-icon:hover,
.edit-icon:hover {
    opacity: 0.6;
}

.add-destination-container {
    position: fixed;
    bottom: 10px;
    left: 99px;
}

.add-destination-button {
    display: none;
    border-radius: 25px;
    padding: 9px 15px;
}


/* modal */

.modal {
    display: none;
    top: 200px;
    left: 250px;
    z-index: 1;
    position: fixed;
}

.modal-content {
    padding: 20px 5px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.4em;
    overflow: auto;
    position: fixed;
    top: 115px;
    left: 250px;
    z-index: 1;
}

.modal-content>input {
    height: 25px;
    padding: 0.2em;
    border: 1px solid #ccc;
    background-color: #f5fafe;
}

.modal-content>input,
.modal-content>label,
textarea,
.position-container {
    margin: 5px auto;
    width: 70%;
}

.user-select {
    height: 50px;
    background-color: #f5fafe
}

.position-container {
    display: flex;
}

.latitude-container {
    margin-right: 15px;
}

.description {
    height: 100px;
    background-color: #f5fafe;
    border: 1px solid #ccc;
}

.latitude,
.longitude,
#image-input {
    border: none;
    background-color: #fff;
}


/* buttons */

button {
    margin: 5px auto;
    padding: 5px 20px;
    font-family: inherit;
    font-size: 1em;
    background-color: #333;
    color: white;
    border-radius: 0.5em;
    cursor: pointer;
    position: relative;
}

button:hover {
    background-color: #4d4d4d;
}

button[disabled]:hover {
    background-color: #333;
}

.close-button {
    border: 1px solid #333;
    background-color: #fff;
    color: #333;
}

.close-button:hover {
    color: #2b6ca0;
    background-color: #fff;
}

.button-container {
    display: flex;
    margin: 10px;
}


/* login overlay */

.login-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 3;
}


/* blogview overlay */

.blogview-overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 4;
    overflow: scroll;
}

.title-container {
    margin: 10px;
    text-align: center;
}

.blog-title {
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
}

.image-container {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.blog-image-item {
    width: 400px;
    margin: 5px;
    height: 400px;
    justify-content: center;
    object-fit: cover;
}

.blog-content-container {
    margin: 0 auto;
    text-align: center;
    width: 90%;
    margin-bottom: 50px
}

.close-blog-button {
    width: 20px;
    margin: 10px;
}